# Dependencies
node_modules/

# Environment Variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Build Files
dist/
build/

# Coverage
coverage/

# Vercel
.vercel

# IDE
.vscode/
.idea/